@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  width: 100vw;
  height: 100vh;
}

/* --background: 51, 29%, 91%; */


@layer base {
:root  {
  --background: 51, 29%, 91%;
  --foreground: 185 0% 0%;
  --card: 185 0% 90%;
  --card-foreground: 185 0% 10%;
  --popover: 185 0% 95%;
  --popover-foreground: 185 95% 0%;
  --primary: 185 69.7% 6.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 185 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 147 10% 85%;
  --muted-foreground: 185 0% 35%;
  --accent: 147 10% 80%;
  --accent-foreground: 185 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 185 0% 90%;
  --border: 185 20% 50%;
  --input: 185 20% 18%;
  --ring: 185 69.7% 6.5%;
  --radius: 1rem;
}
.dark  {
  --background: 185 10% 5%;
  --foreground: 185 0% 90%;
  --card: 185 0% 0%;
  --card-foreground: 185 0% 90%;
  --popover: 185 10% 5%;
  --popover-foreground: 185 0% 90%;
  --primary: 185 69.7% 6.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 185 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 147 10% 15%;
  --muted-foreground: 185 0% 60%;
  --accent: 147 10% 15%;
  --accent-foreground: 185 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 185 0% 90%;
  --border: 185 20% 18%;
  --input: 185 20% 18%;
  --ring: 185 69.7% 6.5%;
  --radius: 1rem;
}
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}